###Enable/Disable the brewing recipes of the effects###
#Vanilla-Effects#
<Levitation>=false
<Blindness>=false
<Haste>=false
<MiningFatigue>=false
<Luck>=false
<Unluck>=false
<Wither>=false

#PotionCraft-Effects#
<Freeze>=false
<Love>=false
<ArrowImmun>=false
<Lightning>=false
<Fly>=false
<LifeSteal>=false
<KnockbackResistance>=false
<UseSpeed>=false
<RangeSpeed>=false
<FreezeAOE>=false
<Magnet>=false
<DepthStrider>=false
<LightStep>=false
