# Configuration file

general {
    # Item IDs that shine light while held. Armor Items also work when worn. [ONLY ON YOURSELF]
    S:LightItems=torch=9,glowstone=8,glowstone_dust=7,lit_pumpkin=9,lava_bucket=9,redstone_torch=5,redstone=5,golden_horse_armor=15

    # Item IDs that do not shine light when held in water, have to be present in LightItems.
    S:TurnedOffByWaterItems=torch,lava_bucket
}


