# Configuration file

general {
    I:EntityAegis=1
    I:EntityAglebemu=1
    I:EntityAlafha=1
    I:EntityAnged=1
    I:EntityArchaeologist=1
    I:EntityArisaur=1
    I:EntityArix=1
    I:EntityArmorStand=1
    I:EntityArrowDiamond=1
    I:EntityAshen=1
    I:EntityAstaroth=1
    I:EntityBanoAdapted=1
    I:EntityBanshee=1
    I:EntityBarghest=1
    I:EntityBat=1
    I:EntityBeetleLarva=1
    I:EntityBlaze=1
    I:EntityBlazeMinion=1
    I:EntityCQRGremlin=1
    I:EntityCQRHuman=1
    I:EntityCQRMummy=1
    I:EntityCQRNecromancer=1
    I:EntityCQROrc=1
    I:EntityCQRSkeleton=1
    I:EntityCQRZombie=1
    I:EntityCactusCow=1
    I:EntityCactusCreeper=1
    I:EntityCactusPig=1
    I:EntityCactusSheep=1
    I:EntityCanraAdapted=1
    I:EntityCaveSpider=1
    I:EntityCentipede=1
    I:EntityChicken=1
    I:EntityChupacabra=1
    I:EntityClink=1
    I:EntityConba=1
    I:EntityCow=1
    I:EntityCoyote=1
    I:EntityCreeper=1
    I:EntityCrusk=1
    I:EntityCryptkeeper=1
    I:EntityCrystalBug=1
    I:EntityDarkling=1
    I:EntityDawon=1
    I:EntityDeer=1
    I:EntityDweller=1
    I:EntityEmanaAdapted=1
    I:EntityEnderman=1
    I:EntityEndermite=1
    I:EntityEnt=1
    I:EntityEpion=1
    I:EntityErepede=1
    I:EntityEttin=1
    I:EntityEyewig=1
    I:EntityFeradon=1
    I:EntityFeralWolf=1
    I:EntityFly=1
    I:EntityFox=1
    I:EntityFrostweaver=1
    I:EntityGasVent=1
    I:EntityGeist=1
    I:EntityGeken=1
    I:EntityGeonach=1
    I:EntityGhostRay=1
    I:EntityGhoul=1
    I:EntityGnekk=1
    I:EntityGorgomite=1
    I:EntityGrue=1
    I:EntityHerma=1
    I:EntityHorse=1
    I:EntityJabberwock=1
    I:EntityJinjo=1
    I:EntityJoust=1
    I:EntityJoustAlpha=1
    I:EntityJumpingSpider=1
    I:EntityKobold=1
    I:EntityKrake=1
    I:EntityLencia=1
    I:EntityLlama=1
    I:EntityLurker=1
    I:EntityMaka=1
    I:EntityMakaAlpha=1
    I:EntityMaug=1
    I:EntityMimic=1
    I:EntityMosquito=1
    I:EntityMudo=1
    I:EntityNecrovore=1
    I:EntityNoglaAdapted=1
    I:EntityNymph=1
    I:EntityOmboo=1
    I:EntityOrch=1
    I:EntityOwl=1
    I:EntityParasite=1
    I:EntityPheon=1
    I:EntityPig=1
    I:EntityPinky=1
    I:EntityPirate=1
    I:EntityRaven=1
    I:EntityReaper=1
    I:EntityRemobra=1
    I:EntityRifter=1
    I:EntityRoc=1
    I:EntityScarecrow=1
    I:EntitySerpix=1
    I:EntityShambler=1
    I:EntitySheep=1
    I:EntityShyco=1
    I:EntityShycoAdapted=1
    I:EntitySilverfish=1
    I:EntitySkeleton=1
    I:EntitySkeletonHorse=1
    I:EntitySkeletonMinion=1
    I:EntitySlime=1
    I:EntitySlimePart=1
    I:EntitySpectralArrow=1
    I:EntitySpider=1
    I:EntitySpriggan=1
    I:EntitySquid=1
    I:EntityStrider=1
    I:EntityTarantula=1
    I:EntityTarantulaMiniboss=1
    I:EntityThrowingAxe=1
    I:EntityTippedArrow=1
    I:EntityTpumpkyn=1
    I:EntityTreant=1
    I:EntityTriffid=1
    I:EntityTrumpetSkeleton=1
    I:EntityUnburied=1
    I:EntityUndertaker=1
    I:EntityUvaraptor=1
    I:EntityVenkrol=1
    I:EntityVentoraptor=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntityVillagerMCA=1
    I:EntityWarg=1
    I:EntityWendigo=1
    I:EntityWildkin=1
    I:EntityWisp=1
    I:EntityWitch=1
    I:EntityWraamon=1
    I:EntityZoataur=1
    I:EntityZombie=1
    I:EntityZombieFrozen=1
    I:EntityZombieMinion=1
    I:EntityZombieMushroom=1
    I:EntityZombiePiranha=1
    I:EntityZombieVillager=1
    I:GraveGuardian=1
    I:MutantCreeperEntity=1
    I:"update Interval"=1000
}


