# Configuration file

general {

    client {

        controls {
            # How many system ticks you have between double tapping (these are faster than Minecraft ticks).
            # Min: 1
            # Max: 2147483647
            I:"Double Tap Ticks"=190

            # Enable to make dodging left, right or backwards require a double tap, and forwards require a tap of a movement key.
            B:"Enable Double Tap"=true

            # Enable to make dodging forwards require a double tap of a movement key. 'Enable Double Tap' must be enabled.
            B:"Forwards Double Tap"=false
        }

        hud {
            # Whether to enable compatibility mode for the HUD. If it isn't working as expected, try this.
            B:"Compatibility HUD"=true

            # Whether the GUI fades out when it is inactive.
            B:"Fadeout Inactive HUD"=false

            # Whether to show the feathers in the UI.
            B:"Show HUD"=true

            # Whether to show armor weight tooltips. If Quark is installed, please restart the game after disabling or enabling 'Quark Settings -> Client -> Visual Stat Display'.
            B:"Show Tooltips"=true

            # Whether to show the tutorial on joining a new world.
            B:"Show Tutorial"=true

            # Whether the feather bar will flash when the player attempts to dodge without the required feathers or too high a weight.
            B:"Visual Dodge Failure"=true

            # The X-Offset of the Feather Bar.
            # Min: -2147483648
            # Max: 2147483647
            I:"X Offset"=0

            # The Y-Offset of the Feather Bar.
            # Min: -2147483648
            # Max: 2147483647
            I:"Y Offset"=0
        }

    }

    common {

        balance {
            # Whether the player can dodge whilst airborne.
            B:"Enable whilst Airborne"=true

            # Whether the player can dodge whilst blocking.
            B:"Enable whilst Blocking"=false

            # Whether the player can dodge whilst sneaking.
            B:"Enable whilst Sneaking"=true

            # How much exhaustion is added when dodging. For reference, sprinting adds 0.01 exhaustion per meter, and the Hunger effect adds 0.1 per second.
            # Min: 0.0
            # Max: 40.0
            D:Exhaustion=1.5

            # The force of the player's dodge before any multipliers have been applied. This value is very sensitive.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:Force=0.55

            # How many half drumsticks the player needs to dodge. The default six is the same as sprinting.
            # Min: -1
            # Max: 20
            I:"Hunger Requirement"=10

            # How many in-game ticks of invincibility the player has after dodging. 20 ticks is 1 second.
            # Min: 0
            # Max: 100
            I:"Invincibility Ticks"=10

            # Potions that prevent the player from dodging. Insert values in the format modid:potion. Idea Credit: SandwichHorror
            S:"Potion Blacklist" <
             >

            # How high the player is pushed from the ground when dodging. This value is proportional distance dodged due to friction.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:Verticality=0.25
        }

        feathers {
            # How many half feathers dodging midair requires. [Dodge Whilst Airborne must be Enabled]
            # Min: 0
            # Max: 20
            I:"Airborne Cost"=3

            # How many half feathers dodging requires.
            # Min: 0
            # Max: 20
            I:Cost=2

            # Whether to enable 'Half Feathers'. Instead of weight values rounding down, they will instead show as a half feather. These can be used if the 'Cost' value is set to an odd number.
            B:"Half Feathers"=true

            # The amount of ticks required to regenerate half a feather. Please only change this when you have full feathers.
            # Min: 1
            # Max: 2147483647
            I:"Regeneration Rate"=60
        }

        weights {
            # The weight of each item of Armor. This overrides the default generated values. Each 'Steel Feather' is equivalent to a weight of 2. Insert values as such: modid:itemname=value. Any item with a weight over 24 will not show its weight as a tooltip. Idea Credit: SandwichHorror
            S:"Weights Override" <
                mysticalworld:copper_helmet=0
                mysticalworld:copper_chestplate=0
                mysticalworld:copper_leggings=0
                mysticalworld:copper_boots=0
                cqrepoured:helmet_slime=0
                cqrepoured:chestplate_slime=0
                cqrepoured:leggings_slime=0
                cqrepoured:boots_slime=0
                minecraft:iron_helmet=0
                minecraft:iron_chestplate=0
                minecraft:iron_leggings=0
                minecraft:iron_boots=0
                cqrepoured:helmet_iron_dyable=0
                cqrepoured:chestplate_iron_dyable=0
                cqrepoured:leggings_iron_dyable=0
                cqrepoured:boots_iron_dyable=0
                minecraft:diamond_helmet=0
                minecraft:diamond_chestplate=0
                minecraft:diamond_leggings=0
                minecraft:diamond_boots=0
                cqrepoured:helmet_diamond_dyable=0
                cqrepoured:chestplate_diamond_dyable=0
                cqrepoured:leggings_diamond_dyable=0
                cqrepoured:boots_diamond_dyable=0
                metallurgy:quicksilver_helmet=0
                metallurgy:quicksilver_chestplate=0
                metallurgy:quicksilver_leggings=0
                metallurgy:quicksilver_boots=0
                metallurgy:hepatizon_helmet=0
                metallurgy:hepatizon_chestplate=0
                metallurgy:hepatizon_leggings=0
                metallurgy:hepatizon_boots=0
                metallurgy:oureclase_helmet=0
                metallurgy:oureclase_chestplate=0
                metallurgy:oureclase_leggings=0
                metallurgy:oureclase_boots=0
                metallurgy:desichalkos_helmet=0
                metallurgy:desichalkos_chestplate=0
                metallurgy:desichalkos_leggings=0
                metallurgy:desichalkos_boots=0
                metallurgy:shadow_iron_helmet=0
                metallurgy:shadow_iron_chestplate=0
                metallurgy:shadow_iron_leggings=0
                metallurgy:shadow_iron_boots=0
                metallurgy:astral_silver_helmet=0
                metallurgy:astral_silver_chestplate=0
                metallurgy:astral_silver_leggings=0
                metallurgy:astral_silver_boots=0
                enderenhancement:item_dull_ender_helmet=0
                enderenhancement:item_dull_ender_chestplate=0
                enderenhancement:item_dull_ender_leggings=0
                enderenhancement:item_dull_ender_boots=0
                metallurgy:shadow_steel_helmet=0
                metallurgy:shadow_steel_chestplate=0
                metallurgy:shadow_steel_leggings=0
                metallurgy:shadow_steel_boots=0
                mutantbeasts:mutant_skeleton_skull=0
                mutantbeasts:mutant_skeleton_chestplate=0
                mutantbeasts:mutant_skeleton_leggings=0
                mutantbeasts:mutant_skeleton_boots=0
                erebus:jade_helmet=0
                erebus:jade_chestplate=0
                erebus:jade_leggings=0
                erebus:jade_boots=0
                metallurgy:amordrine_helmet=0
                metallurgy:amordrine_chestplate=0
                metallurgy:amordrine_leggings=0
                metallurgy:amordrine_boots=0
                minecraft:leather_helmet=2
                minecraft:leather_chestplate=3
                minecraft:leather_leggings=3
                minecraft:leather_boots=2
                minecraft:chainmail_helmet=2
                minecraft:chainmail_chestplate=3
                minecraft:chainmail_leggings=3
                minecraft:chainmail_boots=2
                metallurgy:brass_helmet=2
                metallurgy:brass_chestplate=3
                metallurgy:brass_leggings=3
                metallurgy:brass_boots=2
                mysticalworld:silver_helmet=2
                mysticalworld:silver_chestplate=3
                mysticalworld:silver_leggings=3
                mysticalworld:silver_boots=2
                cqrepoured:helmet_spider=2
                cqrepoured:chestplate_spider=3
                cqrepoured:leggings_spider=3
                cqrepoured:boots_spider=2
                metallurgy:deep_iron_helmet=2
                metallurgy:deep_iron_chestplate=3
                metallurgy:deep_iron_leggings=3
                metallurgy:deep_iron_boots=2
                metallurgy:celenegil_helmet=2
                metallurgy:celenegil_chestplate=3
                metallurgy:celenegil_leggings=3
                metallurgy:celenegil_boots=2
                metallurgy:kalendrite_helmet=2
                metallurgy:kalendrite_chestplate=3
                metallurgy:kalendrite_leggings=3
                metallurgy:kalendrite_boots=2
                metallurgy:carmot_helmet=2
                metallurgy:carmot_chestplate=3
                metallurgy:carmot_leggings=3
                metallurgy:carmot_boots=2
                mod_lavacow:faminearmor_helmet=2
                mod_lavacow:faminearmor_chestplate=3
                mod_lavacow:faminearmor_leggings=3
                mod_lavacow:faminearmor_boots=2
                enderenhancement:item_ender_helmet=2
                enderenhancement:item_ender_chestplate=3
                enderenhancement:item_ender_leggings=3
                enderenhancement:item_ender_boots=2
                nyx:meteor_helm=2
                nyx:meteor_chest=3
                nyx:meteor_pants=3
                nyx:meteor_boots=2
                erebus:rein_exoskeleton_helmet=2
                erebus:rein_exoskeleton_chestplate=3
                erebus:rein_exoskeleton_leggings=3
                erebus:rein_exoskeleton_boots=2
                metallurgy:krik_helmet=2
                metallurgy:krik_chestplate=3
                metallurgy:krik_leggings=3
                metallurgy:krik_boots=2
                metallurgy:bronze_helmet=3
                metallurgy:bronze_chestplate=4
                metallurgy:bronze_leggings=4
                metallurgy:bronze_boots=3
                metallurgy:steel_helmet=3
                metallurgy:steel_chestplate=4
                metallurgy:steel_leggings=4
                metallurgy:steel_boots=3
                cqrepoured:helmet_heavy_iron=3
                cqrepoured:chestplate_heavy_iron=4
                cqrepoured:leggings_heavy_iron=4
                cqrepoured:boots_heavy_iron=3
                cqrepoured:helmet_heavy_diamond=3
                cqrepoured:chestplate_heavy_diamond=4
                cqrepoured:leggings_heavy_diamond=4
                cqrepoured:boots_heavy_diamond=3
                cqrepoured:helmet_bull=3
                cqrepoured:chestplate_bull=4
                cqrepoured:leggings_bull=4
                cqrepoured:boots_bull=3
                metallurgy:black_steel_helmet=3
                metallurgy:black_steel_chestplate=4
                metallurgy:black_steel_leggings=4
                metallurgy:black_steel_boots=3
                metallurgy:vulcanite_helmet=3
                metallurgy:vulcanite_chestplate=4
                metallurgy:vulcanite_leggings=4
                metallurgy:vulcanite_boots=3
                metallurgy:electrum_helmet=3
                metallurgy:electrum_chestplate=4
                metallurgy:electrum_leggings=4
                metallurgy:electrum_boots=3
                metallurgy:osmium_helmet=3
                metallurgy:osmium_chestplate=4
                metallurgy:osmium_leggings=4
                metallurgy:osmium_boots=3
                metallurgy:orichalcum_helmet=3
                metallurgy:orichalcum_chestplate=4
                metallurgy:orichalcum_leggings=4
                metallurgy:orichalcum_boots=3
                metallurgy:haderoth_helmet=3
                metallurgy:haderoth_chestplate=5=4
                metallurgy:haderoth_leggings=4
                metallurgy:haderoth_boots=3
                midnight:tenebrum_helmet=3
                midnight:tenebrum_chestplate=4
                midnight:tenebrum_leggings=4
                midnight:tenebrum_boots=3
                erebus:rhino_exoskeleton_helmet=3
                erebus:rhino_exoskeleton_chestplate=4
                erebus:rhino_exoskeleton_leggings=4
                erebus:rhino_exoskeleton_boots=3
                metallurgy:eximite_helmet=0
                metallurgy:eximite_chestplate=0
                metallurgy:eximite_leggings=0
                metallurgy:eximite_boots=0
                metallurgy:lutetium_helmet=3
                metallurgy:lutetium_chestplate=4
                metallurgy:lutetium_leggings=4
                metallurgy:lutetium_boots=3
                metallurgy:tartarite_helmet=3
                metallurgy:tartarite_chestplate=4
                metallurgy:tartarite_leggings=4
                metallurgy:tartarite_boots=3
                cqrepoured:chestplate_turtle=4
                cqrepoured:helmet_turtle=3
                cqrepoured:leggings_turtle=4
                cqrepoured:boots_turtle=3
                metallurgy:prometheum_helmet=1
                metallurgy:prometheum_chestplate=2
                metallurgy:prometheum_leggings=2
                metallurgy:prometheum_boots=1
                cqrepoured:helmet_inquisition=1
                cqrepoured:chestplate_inquisition=2
                cqrepoured:leggings_inquisition=2
                cqrepoured:boots_inquisition=1
                metallurgy:midasium_helmet=1
                metallurgy:midasium_chestplate=2
                metallurgy:midasium_leggings=2
                metallurgy:midasium_boots=1
                midnight:rockshroom_helmet=1
                midnight:rockshroom_chestplate=2
                midnight:rockshroom_leggings=2
                midnight:rockshroom_boots=1
                metallurgy:atlarus_helmet=1
                metallurgy:atlarus_chestplate=2
                metallurgy:atlarus_leggings=2
                metallurgy:atlarus_boots=1
                metallurgy:vyroxeres_helmet=1
                metallurgy:vyroxeres_chestplate=2
                metallurgy:vyroxeres_leggings=2
                metallurgy:vyroxeres_boots=1
                metallurgy:inolashite_helmet=1
                metallurgy:inolashite_chestplate=2
                metallurgy:inolashite_leggings=2
                metallurgy:inolashite_boots=1
                metallurgy:krik_helmet=1
                metallurgy:krik_chestplate=2
                metallurgy:krik_leggings=2
                metallurgy:krik_boots=1
                minecraft:golden_helmet=1
                minecraft:golden_chestplate=2
                minecraft:golden_leggings=2
                minecraft:golden_boots=1
                metallurgy:platinum_helmet=1
                metallurgy:platinum_chestplate=2
                metallurgy:platinum_leggings=2
                metallurgy:platinum_boots=1
                mod_lavacow:swinemask=1
                mod_lavacow:swinearmor_chestplate=2
                mod_lavacow:swinearmor_leggings=2
                mod_lavacow:swinearmor_boots=1
                metallurgy:ignatius_helmet=1
                metallurgy:ignatius_chestplate=2
                metallurgy:ignatius_leggings=2
                metallurgy:ignatius_boots=1
                metallurgy:damascus_steel_helmet=1
                metallurgy:damascus_steel_chestplate=2
                metallurgy:damascus_steel_leggings=2
                metallurgy:damascus_steel_boots=1
                metallurgy:ceruclase_helmet=1
                metallurgy:ceruclase_chestplate=2
                metallurgy:ceruclase_leggings=2
                metallurgy:ceruclase_boots=1
                mod_lavacow:felarmor_helmet=1
                mod_lavacow:felarmor_chestplate=2
                mod_lavacow:felarmor_leggings=2
                mod_lavacow:felarmor_boots=1
                cqrepoured:backpack=0
                srparasites:armor_helm=0
                srparasites:armor_chest=0
                srparasites:armor_pants=0
                srparasites:armor_boots=0
                srparasites:armor_helm_sentient=0
                srparasites:armor_chest_sentient=0
                srparasites:armor_pants_sentient=0
                srparasites:armor_boots_sentient=0
                erebus:spider_t_shirt=0
             >
        }

        misc {
            # Whether the Player's dodge creates a puff of smoke.
            B:"Enable Particles"=true

            # Whether the Player dodge is weaker in the End.
            B:"End Dodge"=true

            # Whether the Player dodges further in the Nether.
            B:"Nether Dodge"=true

            # Whether the Player is notified when the Endurance Effect is overpowered by the Heavy Effect.
            B:"Overwhelmed Message"=true
        }

        integration {

            toughasnails {
                # Whether to enable Tough as Nails support
                B:Enabled=false

                # How much exhaustion (thirstiness) is added when the player regenerates a dodge feather.
                # Min: 0.0
                # Max: 40.0
                D:Exhaustion=5.0
            }

        }

    }

}


