# Configuration file

general {
    # Should we use a cache for the F3 menu? If true, only recompute F3 data when something changes
    B:cacheEnabled=true

    # Sections of the F3 menu to disable. For example, adding 'fps' will disable the fps counter.
    S:disabledSections <
        
     >

    # Remove the background of the debug screen.
    B:removeDebugBackground=true

    # Custom text-to-color mappings.
    # Format each entry as 'key:color'.
    # Supported colors: BLACK, DARK_BLUE, DARK_GREEN, DARK_AQUA, DARK_RED, DARK_PURPLE, GOLD, GRAY, DARK_GRAY, BLUE, GREEN, AQUA, RED, LIGHT_PURPLE, YELLOW, WHITE.
    S:textColorMappings <
        fps:GREEN
        mem:AQUA
     >
}


