# Configuration file

general {
    # Key bindings listed here will be hidden from the key bindings menu.
    # Use this to hide key bindings that are not used by the player.
    S:hide_key_bindings <
        quark.emote.point
        quark.emote.clap
        quark.keybind.toggleAutojump
        Blacklist Block
        quark.emote.facepalm
        quark.emote.tpose
        Toggle Freeze Effect
        quark.emote.zombie
        quark.emote.think
        Difficulty Meter - Show
        Reload Menu | CTRL + ALT +
        key.spectatorOutlines
        Difficulty Meter - Show Always
        quark.emote.dab
        quark.emote.headbang
        Kill Particles
        key.stellarapi.focusgui.description
        Open Menu
        quark.emote.jet
        quark.emote.shrug
        quark.emote.no
        Toggle Customization Overlay | CTRL + ALT +
        Refresh Animations
        key.loadToolbarActivator
        key.jei.toggleCheatMode
        smoothfont.key.guiOpen
        key.jei.toggleEditMode
        quark.emote.yes
        Dynamic Lights toggle
        quark.emote.dance
        quark.emote.cheer
        quark.emote.wave
        quark.emote.weep
        key.command
        key.saveToolbarActivator
        Reputation GUI
        quark.emote.salute
        quark.emote.exorcist
        key.craftpresence.config_keycode.name
     >
}


